main {
    margin: auto;
    margin-top: 50px;
    min-width: 400px;
    max-width: 800px;
}

input[required] {
    border: solid 2px rgb(155, 34, 34);
}

fieldset {
    background-color: lightgray;
    padding: 1rem;
    margin-bottom: 1rem;
}

fieldset:hover {
    background-color: rgb(131, 131, 131);
}

fieldset:first-child,
fieldset:last-child {
    border-bottom: 5px solid black;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}
