@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
}

header {
    background-color: black;
    line-height: 2rem;
}

header {
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

main {
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.info {
    max-width: 100%;
}

main img {
    max-width: 100%;
}

form {
}

h2 {
    font-weight: normal;
}

h3 {
    font-size: 1.8rem;
    color: #6f6f6f;
    border-bottom: 3px solid grey;
}

input {
    height: 2rem;
    color: white;
}

form,
textarea,
input {
    width: 100%;
}

input,
textarea {
    border: none;
    background-color: #6f6f6f;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

button {
    color: white;
    background-color: black;
    border: none;
    padding: 1em 3em 1em 3em;
}

/* responsive */

@media (min-width: 800px) {
    header {
        text-align: left;
    }

    header p {
        max-width: 80vw;
    }

    main {
        margin: auto;
        max-width: min(70vw, 1200px);
        display: flex;
        flex-direction: column;
    }

    main img {
        float: right;
        max-width: 400px;
        padding-left: 20px;
    }
}
