.lista li {
    display: inline;
    margin-right: 10px;
}

.lista :nth-child(2n + 1) {
    text-decoration: underline 3px green;
}

.lista :last-child {
    background-color: rgb(0, 0, 255);
}

.lista li:lang(en) {
    text-transform: uppercase;
    font-size: 2em;
}

.lista li::after {
    content: '🍕';
}

#provincias :not(:nth-child(2)) {
    list-style: upper-roman;
}
