@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #f2a54a;
    font-family: 'Rubik', sans-serif;
}

header h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

.centralGrid {
    display: grid;
    max-width: 50vw;
    margin: auto;
    grid-template-columns: 300px 300px 300px;
    gap: 40px;
    justify-content: space-around;
}

.profile {
    display: grid;
    grid-template-rows: 250px 3rem auto auto;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(70, 70, 70);
}

.profile:hover {
    transform: scale(1.05);
}

.profile .bio {
    color: white;
    background-color: #7000ff;
    padding: 2rem;
}

.profile > img {
    max-width: 60%;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}

.profile :nth-child(2) {
    justify-self: center;
    margin: 0;
    font-weight: bold;
    font-size: 1.8rem;
}

.social {
    justify-self: center;
    padding-bottom: 20px;
}

.social img {
    border-radius: 50%;
    padding: 6px;
}

/* animate */

.centralGrid > :first-child {
    animation: appear01 2s;
}

.centralGrid > :nth-child(2) {
    opacity: 0%;
    animation: appear01 2s 1s forwards;
}

.centralGrid > :last-child {
    opacity: 0%;
    animation: appear01 2s 2s forwards;
}

@keyframes appear01 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
